{% extends "posts/base.html" %}


 {% block content %}

<style media="screen">
.con{

  margin: auto;
}
.card-columns {
@include media-breakpoint-only(lg) {
  column-count: 4;
}
@include media-breakpoint-only(xl) {
  column-count: 5;
}
}
</style>
<!--{# <div class='q col-sm-3 col-xs-12' style="background-color:blue;">
  <h1> {{ request.user }} </h1>
</div> #}-->
<div class="row">

<div class="con">


  <div class="container">
{# {% include "posts/search_form.html" %} #}

{% include "posts/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='form-control' %}
<hr>

  {% for post in post_list %}

  <div class="col-ms-9">
    <div class="container">

    <div class="card">
      <div class="card">
        {# <img class="card-img-top" src=".../100px180/" alt="Card image cap"> #}
        <div class="card-body">
          <h5 class="card-title">{{ post.content }}</h5>
        </div>
        <div class="card-footer">
          <p>
          Via : <a href='/{{ user.username}}/'><p class="card-text">{{ post.user }}</p></a> | At : <small class="text-muted">{{ post.timeposted | timesince }} ago</small> | <a href='{% url "post:post_detail" pk=9 %}'>View</a>
          </p>

        </div>
      </div>
</div>
</div>
</div>
<br>
<hr>
<br>
{% endfor %}

</div>


{% endblock content %}
